* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrap {
  margin: 0 auto;
  max-width: 600px;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 50%;
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
  border: 3px solid green;
  border-radius: 50%;
}

body {
  background-image: url('/images/background.png');
  padding: 20px;
}

.content-background {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #0000008e;
  border: 3px solid green;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  min-height: 500px;
  background-color: #ededed;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

nav {
  width: 95%;
  height: auto;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #ededed;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
}

.navbar > li {
  list-style: none;
  display: inline-block;
}

.navbar > li a {
  text-decoration: none;
  font-size: 20px;
  font-family: Arial;
  color: black;
  padding-right: 10px;
  display: block;
}

.navbar > li a:hover {
  color: green;
}

header {
  text-align: center;
}

pre code {
  max-width: fit-content;
  height: auto;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 10px;
}

.shoe-box {
  width: 300px;
  height: auto;
  background-color: yellow;
  border: 20px solid red;
  padding: 40px;
  margin: 40px;
  word-wrap: break-word;
}

.centerbox {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.blogimage {
  float: left;
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
  border: 3px solid green;
  border-radius: 10px;
  
}

.button {
  margin-top: 10px; 
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border-radius:10px;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.button:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
.button:active {
	position:relative;
	top:1px;
}
